
#signup_box{
   margin-left: 600px;
   margin-top: 200px;
   border: 1px solid rgb(14,14,14);
   width: 400px;
   height: 500px;
   padding: 20px;
   border-radius: 10px;
} 

#userinfo{
  margin-top: 30px;
}

#uname, #passw,#cpass {
   display: block;
   margin: 20px auto;
   height: 30px;
   width: 200px;
}

#signup{
   display: block;
   margin: 20px auto;
   height: 40px;
   width: 120px;
   background-color: rgb(13, 93, 222);
   color: aliceblue;
   font-size: medium;
}

#taskm{
   font-size: 50px;
   margin-left: 40px;
   color: rgb(184, 217, 245);
   padding-top: 20px;
}
.add_button{
  padding: 10px 20px;
  width: fit-content;
  color: azure;
  background-color: crimson;
  border-radius: 10px;
}
.add_button:hover{
   background-color: rgb(245, 81, 78);
   
}
.task-field{
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.input{
   width: 300px;   /* adjust as you like */
  padding: 8px;
}

.navbar{
  display: flex;
  width: max-content;
  height: 40px;
  color: light rgb(238, 83, 83);
}